:root {
    --dark: #00423a;
    --dark: #104a01;
    --light: #02ccb7;
    --light: #59e326;

    --button: #009688;
    --buttonHover: #00796b;

    --title: var(--dark);
    --text: var(--light);
}

/* Hero-Bereich */
.hero {
    background: linear-gradient(to right, var(--light), var(--dark));
    color: white;
    text-align: center;
    padding: 20px 20px;
}
.hero h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
}
.hero button {
    background-color: #fff;
    color: #333;
    border: none;
    padding: 10px 20px;
    font-size: 1rem;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.hero button:hover {
    background-color: #333;
    color: #fff;
}
.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

/* About - Bereich (nicht überall enthalten) */
#about-box{
    background: linear-gradient(to right, var(--light), var(--dark));
    color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    flex: 1 1 calc(33.333% - 40px); /* Dynamische Breite */
    max-width: 67%; /* Begrenzung */
    text-align: center;
    margin: auto
}

/* Formulare */
#contact{
    text-align: center;
}
form {
    display: flex;
    flex-direction: column;
    max-width: 600px; /* Begrenzung */
    margin: 0 auto;
}

form input, form textarea {
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
}

form button {
    padding: 10px;
    background-color: var(--button);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 104%;
}

form button:hover {
    background-color: var(--buttonHover);
    cursor: not-allowed;
}



/* SECTION */
section {
    padding: 20px;
    margin: 20px auto;
    max-width: 1200px; /* Begrenzung der Breite */
}