/* Allgemeine Stile */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

/* About-Us Styling */
.element{
    background-color: #fff;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    flex: 1 1 calc(33.333% - 40px); /* Dynamische Breite */

    width: 80rem;
    height: 18rem;
    margin: .5rem;
    display: flex;
}

.element img{
    max-width: 50%;
    /* rund: border-radius: 50%; */
    border-radius: 10%;
}

.elements {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}

html, body {
    height: 100%;
}
body {
    display: flex;
    flex-direction: column;
}
.content {
    flex: 1 0 auto;
}
.footer {
    flex-shrink: 0;
}

h4 {
    color: var(--text);
}


/* Anpassung f체r mobile Ger채te */
@media (max-width: 768px) {
    .element {
        align-items: center; /* Zentriert die Inhalte */
        text-align: center; /* Optional: Zentriert den Text */

        display: block;
        max-width: 75%; /* Begrenzung */
        margin: 1rem auto; /* 1rem oben/unten bzw. auto links/rechts */
    }

    .element img {
        max-width: 80%; /* Verkleinert das Bild auf mobilen Ger채ten */
        margin-bottom: 20px; /* F체gt Abstand zwischen Bild und Text hinzu */
    }

    .elements {
        flex-direction: column;
    }
}
