/* Allgemeine Stile */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

/* Hero-Bereich */
.hero {
    background: linear-gradient(to right, #02ccb7, #00423a);
    color: white;
    text-align: center;
    padding: 20px 20px;
}

.hero h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
}

/* About-Us Styling */
.element{
    display: flex;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    flex: 1 1 calc(33.333% - 40px); /* Dynamische Breite */
    /*max-width: calc(33.333% - 40px); /* Begrenzung */
    width: 80rem;
    height: 18rem;
    margin: auto;
}

.element img{
    max-width: 50%;
    /* rund: border-radius: 50%; */
    border-radius: 10%;
}

/* Anpassung f체r mobile Ger채te */
@media (max-width: 768px) {
    .element {
        flex-direction: column; /* Stellt die Elemente vertikal an */
        align-items: center; /* Zentriert die Inhalte */
        text-align: center; /* Optional: Zentriert den Text */
    }

    .element img {
        max-width: 80%; /* Verkleinert das Bild auf mobilen Ger채ten */
        margin-bottom: 20px; /* F체gt Abstand zwischen Bild und Text hinzu */
    }

    .element ul {
        padding: 0;
    }
}
