/* Allgemeine Stile */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: #f4f4f4;
}

section {
    padding: 20px;
    margin: 20px auto;
    max-width: 1200px; /* Begrenzung der Breite */
}

/* Hero-Bereich */
.hero {
    background: linear-gradient(to right, #fb2d2d, #490202);
    background: linear-gradient(to right, #02ccb7, #00423a);
    color: white;
    text-align: center;
    padding: 20px 20px;
}

.hero h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}


/* FAQ - CSS */

#faq {
    background-color: #f4f4f4;
    padding: 40px 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 1200px;
    margin: 20px auto;
}

#faq h2 {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 20px;
    color: #6a0202;
    color: #026559;
}

.faq-item {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 15px;
}

.faq-item h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
    color: #c81717;
    color: #03af9d;
}

.faq-item p {
    font-size: 1rem;
    line-height: 1.6;
    color: #333;
}

.faq-item:hover {
    scale: 1.05;
    transition: .3s ease;
}





/* Für Smartphones (480px und kleiner) */
@media (max-width: 480px) {
    #hero h1 {
        font-size: 1.5rem; /* Kleinere Schriftgröße */
    }

    section {
        padding: 10px;
    }

    .faq-item:hover {

    }
}